/*.go	{
	position: fixed;
	top: 4%;
	right: 4%;
	width: 8%;

	z-index: 9999;

}
.go img, .more img{
	display: block;
	width: 100%;
	
}
.more {
	position: fixed;
	right: 6%;
	bottom: 10%;
	width: 15%;
	z-index: 9999;
}*/
.go {
	position: fixed;
	top: 30px;
	right: 30px;
	width: 100px;
	height: 100px;
	z-index: 9999;
}
.more {
	position: fixed;
	bottom: 80px;
	right: 60px;
	z-index: 9999;
	animation: more 0.6s linear infinite alternate;
}
@keyframes more {
	0%{
		transform: translateY(-15px);
	}
	100%{
		transform: translateY(15px);
	}
}

/*第一屏*/
.content {
	width: 900px;
	height: 600px;
	background-color: rgb(0,0,0,0.1);
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
}

.section.screen01 {
	background: url('../images/01-bg.png') no-repeat center bottom;
}

.screen01 .goods {
	text-align: center;
	margin-top: 230px;
	animation: goods-01 1s linear infinite alternate;
}
.screen01 .sofa {
	position: absolute;
	left: 230px;
	top: 150px;
	animation: sofa-01 1.5s linear infinite alternate;

}
.screen01 .fly {
	position: absolute;
	top: 50px;
	right: -20px;
	animation: goods-01 0.8s linear infinite alternate;
}


@keyframes goods-01 {
	0%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(10px);
	}
}
@keyframes sofa-01 {
	0%{
		transform: translateY(-20px);
	}
	100%{
		transform: translateY(20px);
	}
}


/*第二屏*/
.section.screen02 {
	background: url('../images/02-bg.png') no-repeat center bottom;
}
